/*
------------------------------------------------------------
Project Name : SU Web Programming Assignment 2
Author       : Hadiuzzaman
Student ID   : CSE2301028162
Description  : This project demonstrates the use of HTML and CSS 
               to design a responsive webpage layout as part of 
               the SU Web Programming course assignment.
Start Date   : 1st November 2025
Submit Date  : 7th Nomvember 2025
------------------------------------------------------------
*/

:root {
    --blue: #007bff;
    --primay: #ffc8b384;
    --black-light: #1d171700;
    --white: #ffffff;
}

* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primay);
}

.container {
    width: 90%;
    margin: 0 auto;
}

.btn-primary {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 5px;
    padding: 15px 30px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border: none;
}
.btn-primary:hover {
    opacity: .8;
}

.heading-1 {
    font-size: 30px;
    font-weight: bold;
}

.d-flex {
    display: flex;
}

.d-flex-column {
    flex-direction: column;
}

.justifiy-between {
    justify-content: space-between;
}

.aligin-items {
    align-items: center;
}

.pointer {
    cursor: pointer;
}

.p-10 {
    padding: 10px;
}

.my-30px {
    margin-top: 30px;
    margin-bottom: 30px;
}

.section-1 {
    width: 70%;
    margin: 0px auto;
    gap: 15px;
}

.section-1 > h1 {
    font-size: 55px;
    font-weight: 800;
    text-shadow: 2px 2px 8px #b17575;
    text-align: center;
    margin-bottom: 25px;
  }

.section-1 > p {
    font-size: 18px;
    color: gray;
    margin-bottom: 30px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.py-50px {
    padding: 50px 0px;
}

.mb-10px {
    margin-bottom: 10px;
}
.mb-15px {
    margin-bottom: 15px;
}

.align-center {
    text-align: center;
}

.image-section {

}

.image-section div {
    width: 60%;
    margin: 0 auto;
}

.image-section img {
    width: 100%;
}

.search-section {
    text-align: center;
}

.search-section h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}


.search-container {
    border: 2px solid #000;
    border-radius: 10px;
    max-width: 450px;
    width: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
    background-color: rgb(245, 250, 167);
    margin: 0 auto;
}
.search-input {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
}
.search-input > input[type="text"] {
    padding: 10px;
    border: none;
    outline: none;
    flex: 1;
    background-color: rgb(245, 250, 167);
}
.search-button {

}

footer {
    background-color: #0d6dfd15;
}

footer .footer-container {
    padding: 50px 0;
}

.footer-container .footer-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(130, 129, 129);
}
.footer-top-left-icon-list {
    display: flex;
    gap: 10px;
}
.footer-top-right h2{
    /* color: var(--black-light); */
    font-size: 45px;
    margin-bottom: 10px;
}
.footer-top-left {
    display: flex; 
    gap: 20px;
    align-items: center;
}

.footer-icon {
    width: 30px;
    height: 30px;
}
.footer-nav {
    display: flex;
    justify-content: space-between;
}
.footer-nav div {
    display: flex;
    flex-direction: column;
}

.footer-nav div a {
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    padding: 5px 0;
}
.product-section {
    padding-bottom: 50px;
}
.product_container_wraper {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.card {
    border: 1px solid gray;
    border-radius: 10px;
    align-items: center;
    padding: 20px;
}
.card-image {
    width: 100%;
    /* background-color: red; */
    background-color: var(--white);
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-image:hover {
    background-color: #284e8615;
    transition: 0.8s;
  }
.card-image img {
    width: 80%;
    height: 300px;
}
.cart-title {
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
    color: rgb(59, 47, 47);
}

.cart-description {
    color: gray;
    margin-bottom: 10px;
    text-align: center;
}

.cart-price {
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 10px;
}
.cart-btn {
    text-align: center;
}

.not-found {
    border: 1px solid gray;
    width: 80%;
    margin: 0 auto;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    color: #110a0a;
}

#loader-section {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    opacity: 0;
}

.position-relative {
    position: relative;
}

.modal-position {
    position: fixed;         
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    padding: 20px;
    border-radius: 8px;
    background-color: var(--white);
    max-width: 500px;
    z-index: 1000;
    width: 90%;
    height: 550px;
    display: none;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    display: none; 
    z-index: 999; 
}

.modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    --_c:no-repeat radial-gradient(farthest-side,#25b09b 92%,#0000);
    background: 
      var(--_c) top,
      var(--_c) left,
      var(--_c) right,
      var(--_c) bottom;
    background-size: 12px 12px;
    animation: l7 1s infinite;
  }
  @keyframes l7 {to{transform: rotate(.5turn)}}